__pycache__/
C:\Users\YUSSEF\OneDrive\Desktop\Projects\NMT\artifacts\trans_model\ckpt\ckpt-9.data-00000-of-00001
C:\Users\YUSSEF\OneDrive\Desktop\Projects\NMT\artifacts\att_model\checkpoint_epoch_100.pt